body {
  background-color: #fcca46;
  --header-height: 80px;
  --shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.45);
  --gutter: 30px;
  --footer-height: 25px;
  font-family: "Roboto", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: calc(var(--footer-height));
}

section {
  background-color: #ff8800;
  width: 1000px;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: var(--gutter);
  padding-bottom: var(--gutter);
  margin-top: var(--gutter);
  margin-bottom: var(--gutter);
  border: solid 2px;
}

header {
  text-align: center;
  font-size: 3rem;
  background: #f6aa1c;
  margin-top: 5px;
  padding: 5px;
}

h1,
h2 {
  font-family: "Fredericka the Great", cursive;
  font-size: 4rem;
}

h2 {
  margin-top: 5px;
  font-size: 2.3rem;
  text-align: center;
}

content {
  width: 80%;
}

p {
  margin: var(--gutter);
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

li {
  margin: 10px;
}

.tiger-1 {
  height: 400px;
  width: 500px;
  border-radius: 25px;
}

.btn {
  background: #fde090;
  color: #333;
  border: none;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  color: #f4f4f4;
  background: #f6aa1c;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.facts-list {
  border: solid 2px;
  background: #f6aa1c;
}
@keyframes pulse {
  20% {
    transform: rotate3d(-10, -10, -10, 50deg) scale(1.2);
  }

  40% {
    transform: rotate3d(10, 10, -10, 50deg) scale(1);
  }

  60% {
    transform: rotate3d(-10, 10, 10, 50deg) scale(1.2);
  }

  80% {
    transform: rotate3d(10, 10, 10, 50deg) scale(1);
  }
}
